 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.65), rgba(41,46,51,0.65)), url('images/413be242-1ec0-4710-ac22-aeec266ddda1.webp');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-text-1 {
  text-shadow: 4px 4px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 3px;
  font-family: Lato, sans-serif;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 259px auto 0 232px;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 839px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  line-height: 1.4;
  letter-spacing: 2px;
  background-image: none;
  font-weight: 300;
  font-family: Georgia, serif;
  margin: 47px 151px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 64px auto 60px 456px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 4.5rem;
    margin-top: 925px;
    margin-left: 311px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 919px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 45px;
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 1001px;
    margin-left: 449px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 24px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 771px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 711px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 300;
  margin: 46px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 46px auto 0 0;
  padding: 17px 53px 17px 52px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 739px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-shape-1 {
  width: 202px;
  height: 202px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 556px;
  height: 556px;
  background-image: url("images/e2466b5b-4263-47c3-9c12-e38e6b7a5f82.webp");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -130px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 108px;
  height: 108px;
  margin: -421px auto 0 0;
}

.u-section-2 .u-shape-3 {
  width: 250px;
  height: 78px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 182px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 609px;
  }

  .u-section-2 .u-image-1 {
    width: 504px;
    height: 504px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -369px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 33px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 655px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 655px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 14px;
  }

  .u-section-2 .u-image-1 {
    width: 372px;
    height: 372px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -237px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 653px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 447px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -185px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/0200df87-9cd6-447f-88ee-f148df31eb68.webp");
  background-position: 50% 0%;
  background-size: 130%;
}

.u-section-3 .u-sheet-1 {
  min-height: 881px;
}

.u-section-3 .u-group-1 {
  width: 390px;
  min-height: 135px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  margin: 46px 0 0;
}

.u-section-3 .u-list-1 {
  width: 1029px;
  margin: 100px auto 60px;
}

.u-section-3 .u-repeater-1 {
  min-height: 317px;
  grid-auto-columns: calc(25% - 3.75px);
  grid-template-columns: repeat(4, calc(25% - 3.75px));
  grid-gap: 5px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  width: 145px;
  height: 145px;
  background-image: url("images/cfb1dcca232b733d384669c748f608c3.JPG");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.2917em;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  width: 145px;
  height: 145px;
  background-image: url("images/WechatIMG206.jpg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-3 .u-icon-2 {
  font-size: 1.2917em;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  width: 145px;
  height: 145px;
  background-image: url("images/87d04b04f4269d59621c801d422dee08.JPG");
  background-position: 50% 100%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-3 .u-icon-3 {
  font-size: 1.2917em;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-4 {
  width: 145px;
  height: 145px;
  background-image: url("images/aba103d61f6a3bd0acd877d41e6fbcd5.jpg");
  background-position: 50% 50%;
  margin: 16px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-3 .u-icon-4 {
  font-size: 1.2917em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 289px;
  }

  .u-section-3 .u-image-3 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 899px;
    grid-auto-columns: calc(50% - 2.5px);
    grid-template-columns: repeat(2, calc(50% - 2.5px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}